<div class="navbar has-background-dark">
  <div class="navbar-brand">
    <div class="navbar-item">
      <h1 class="app-name has-gradient-text">DDTask</h1>
    </div>
    <div class="navbar-item">
      <input class="searching" type="text"
         placeholder="Search"
         aria-label="Number">
    </div>
    <div class="navbar-item has-text-centered">
      <button type="button" class="NewTask has-text-centered button" name="btnTask"> + </button>
    </div>
  </div>
</div>
