<div class="root">
<app-navbar-menu></app-navbar-menu>

<div class="board">
  <div class="board-bar">
    <p class="board-name">DashBoard</p>
  </div>

  <div class="board-wrapper">

    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.columns">

        <div class="board-title">
          {{ column.name }}
        </div>

        <div class="tasks-container"
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            {{ item }}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
</div>
